*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(59deg, rgba(2,0,36,1) 0%, rgba(9,21,121,1) 35%, rgba(85,0,255,0.7259278711484594) 100%);
    background-attachment: fixed;
}
.header {
    width: 70%;
    height: 70px;
    margin: auto;
    padding: 10px;
    margin-top: 80px;
    background: rgba(14, 19, 27, 0.815);
    background: linear-gradient(0deg, rgba(14, 19, 27, 0.815) 0%, rgba(12, 27, 24, 0.479) 100%);
    border-radius: 20px 20px 0px 0px;
    border: 1px  solid black;
}
.Titulo {
font-size: 40px;
font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
font-weight:bold;
font-style: italic;
text-align: center;
text-shadow: 4px 0px 4px black;
color: rgba(255, 230, 0, 0.767);
}
.container{
    width: 70%;
    height: auto;
    background-color:rgba(14, 19, 27, 0.815);
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border: 1px  solid black;
    display: block;
}
.bloqueIngreso{
    display: flex;
    flex-direction: row;
}
.input{
    width: 80%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.445);
    margin: 40px;
    border: 2px solid rgb(15, 15, 15);
    color: rgb(243, 243, 243);
    font-size: 30px;
    border-radius:  20px;
    padding: 15px;
}
.input::placeholder{
    color: rgba(250, 253, 255, 0.192);
    padding-left:  10px;
}
.btn {
    height:70px;
    width: 10%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgb(15, 15, 15);
    color: rgb(0, 0, 0);
    background-color: rgba(236, 231, 231, 0.445);
    font-size: 30px;
}
.btn:hover{
    background-color: rgba(32, 138, 5, 0.753);
    font-size: 40px;
    color: aliceblue;
}
.lista{
    display: flex;
    flex-direction: column;
}
.tarea{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70px;
    margin: 10px;
    margin-left: 50px;
}
.texto{
    font-size: 30px;
    color: aliceblue;
    font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}
.btnBorrar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(194, 39, 39, 0.637);
    font-size: 40px;
    margin-left: 60vw;
    position:absolute;
}
.btnBorrar:hover{
    background-color: rgba(255, 196, 0, 0.884);
    cursor: pointer;
}
.section{
    display: block;
    margin: 10px 30px;
}
.tituloSecundario{
    text-shadow: 2px 0px 2px black;
    color: rgba(255, 230, 0, 0.767);
    font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-style: italic;
}
